secrets.cs
dontcheckin.py

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
contactme.txt
out/

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

nehsanet/
obj/
bin/
https/api.nehsa.net.pfx
run-api.ps1
appsettings.json
appsettings.json
__pycache__/dontcheckin.cpython-312.pyc
dontcheckin.go
